.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pageItem {
    margin: 0 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #FE8B1E;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #c1640c;
    }
  
    &.active {
      background-color: #c1640c;
      cursor: default;
    }
  
    &:disabled {
      background-color: #cccccc;
      cursor: not-allowed;
    }
  }
  