.catalog-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: inherit;
  color: #333;
  padding: 5px;
  border-radius: 7px;
  height: 100%;
  transition: all .3s ease;
  &:hover{
    background-color: #b9b9b94a;
  }
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  h3 {
    margin: 10px 0;
    font-size: 16px;
  }

  p {
    font-size: 14px;
    color: #666;
  }
}

@media (max-width:480px){
  .catalog-item h3{
    font-size: 14px;
  }
}