.catalog-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #333;
  padding: 15px;
  border-radius: 10px;
  background-color: #f9f9f9;
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
  &:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
  }
  
  img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  h3 {
    margin: 10px 0;
    font-size: 16px;
  }

  p {
    font-size: 14px;
    color: #666;
  }
}

@media (max-width: 480px) {
  .catalog-item h3 {
    font-size: 14px;
  }
}
